
h1 {
  color: #f1d627;
  padding-top: 40px;
  margin-bottom: 50px;
}

h2 {
  color: #f1d627;
  text-align: center;
}

h3 {
  color: #f345bf;
  margin-bottom: 20px;
}

.container {
  background-color: #ffffff19;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 1px solid #4f4e4e;
  border-radius: 8px;
  margin-bottom: 25px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

label {
  margin-bottom: 10px;
  display: block;
}
.btn {
  background-color: #853dc9;
  border-color: #853dc9;
  color: white;
}
.btn:hover {
  background-color: #17c3e99c;
  border-color:  #074a599c;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  color: #17c3e99c;
}
hr {
  border: 1px solid lightgrey;
}
.price {
  float: right;
  color: white;
}
.subtotal {
  color: white;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.product-frame {
  width: 50%;
  margin-bottom: 5%;
}
.item-details h4 {
  color: #e3c922;
}
.remove-btn {
  background-color: #17c3e99c;
  color: white;
}
.cart-item {
  padding-bottom: 5%;
}
.product-image {
  width: 80%;
  padding-left: 20%;
}
.quantity {
  padding-left: 30%;
  width: 70%;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #868587;
  margin: 0 auto;
}

.summary-details {
  color: #c8c8c8;
}
