h1 {
  color: #853dc9;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}
h2 {
  color: #e3c922;
  margin-bottom: 35px;
}

h3 {
  margin-left: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* About us */
section {
    margin-left: 25px;
    margin-right: 25px;
}

.col-md-4 {
    margin-top: 45px;
}

.content-wrapper {
    padding-right: 15px;
}

.text-description {
    font-size: 18px;
    line-height: 1.5;
    color: #c8c8c8;
    margin-bottom: 20px;
}

.aboutus-dropdown-content {
    max-height: 0;
    overflow: hidden;
    color: #c8c8c8;
    transition: max-height 0.3s ease;
    margin-left: 1rem;
    text-align: center;
}

.aboutus-dropdown-content.show {
    max-height: 1000px; /* Adjust based on content height */
}

.aboutus-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc; /* Separator line */
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.aboutus-dropdown-toggle i {
    transition: transform 0.3s ease;
}

.aboutus-dropdown-toggle.collapsed i {
    transform:  rotate(180deg);
}

.aboutus-dropdown-toggle:not(.collapsed) i {
    transform: rotate(0deg);
}

.aboutus-dropdown-toggle:hover {
    font-weight:600;
}


.container1 {
  padding-top: 40px;
  margin-left: 44%;
}
.form-check {
  margin-left: 47%;
}
.form-check-login {
  display: flex;
  flex-wrap: wrap;
  padding-left: 42%;
  padding-right: 29%;
  padding-top: 2%;
}
label {
  display: flex;
  flex-wrap: wrap;
}
.cartlist {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
#billing {
  padding-left: 10%;
  padding-right: 10%;
}
#payment {
  padding-left: 10%;
  padding-right: 10%;
}
#cobuttoni {
  width: 100%;
  background-color: #853dc9;
}
#cobuttono {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 10%;
}
.cart {
  margin-left: 5%;
  margin-right: 10%;
}
#coline {
  padding-left: 5%;
  padding-top: 10px;
  padding-right: 5%;
}
.price {
  color: #000000;
  float: right;
  padding-right: 1%;
}
#carouselExample {
  width: 100%;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
#shippingbox {
  padding-top: 5%;
}
#total {
  text-decoration: none;
}
#carttittle {
  padding-left: 7%;
  padding-top: 5%;
}
