h1 {
  color: #f1d627;
  padding-top: 40px;
}
h2 {
  color: #f1d627;
  margin-bottom: 35px;
}


/* About us */
section {
    margin-left: 35px;
    margin-right: 35px;
}

.col-md-4 {
    margin-top: 45px;
}

.content-wrapper {
    margin-top: 30px;
}

.text-description {
    font-size: 18px;
    line-height: 1.5;
    color: #b7b6b6;
    margin-bottom: 20px;
    transition: color 0.3s ease;
  }

.text-description:hover {
  color: #ffffff;
}

.aboutus-dropdown-content {
    max-height: 0;
    overflow: hidden;
    color: #c8c8c8;
    transition: max-height 0.3s ease;
    margin-left: 1rem;
    text-align: center;
}

.aboutus-dropdown-content.show {
  max-height: 1000px; 
}

.aboutus-dropdown-content p {
  color: #b7b6b6;
  transition: color 0.3s ease;
}
.aboutus-dropdown-content p:hover {
  color: #ffffff;
}

.aboutus-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc; /* Separator line */
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.aboutus-dropdown-toggle i {
    transition: transform 0.3s ease;
}

.aboutus-dropdown-toggle.collapsed i {
    transform:  rotate(180deg);
}

.aboutus-dropdown-toggle:hover {
    font-weight:600;
}

/* Events */
.value-card {
  margin: 20px 0;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.value-card p {
  background-color: #ffffff19;
  border: 1px solid #4f4e4e;
  padding: 97px;
  font-size: 1.55em;
  color:  #c8c8c8;
  border-radius: 8px;
}

.value-card img {
  border-radius: 8px;
}

.fixed-height {
  height: 350px;
  object-fit: cover;
}

/* Register */
.register-container {
  background:#ffffff19;
  border-radius: 10px;
  border: 1px solid #4f4e4e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  color:  #c8c8c8;
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  background-color: #853dc9;
  border-color: #853dc9;
  color: white;
}

.btn:hover {
  background-color: #6c2aa0;
  border-color: #481b6b;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
}

.form-check-label {
  margin-left: 1px;
}

.form-check-input:checked {
  background-color: #853dc9;
  border-color: #853dc9;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #868587;
  margin: 0 auto;
}

/* Cart */

.cartlist {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
#billing {
  padding-left: 10%;
  padding-right: 10%;
}
#payment {
  padding-left: 10%;
  padding-right: 10%;
}
#cobuttoni {
  width: 100%;
  background-color: #853dc9;
}
#cobuttono {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 10%;
}
.cart {
  margin-left: 5%;
  margin-right: 10%;
}
#coline {
  padding-left: 5%;
  padding-top: 10px;
  padding-right: 5%;
}
.price {
  color: #000000;
  float: right;
  padding-right: 1%;
}
#carouselExample {
  width: 100%;
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
#shippingbox {
  padding-top: 5%;
}
#total {
  text-decoration: none;
}
#carttittle {
  padding-left: 7%;
  padding-top: 5%;
}
