h1 {
  color: #f1d627;
}

h2 {
  color: #f345bf;
}

.cards {
  margin: 0 15px 0 50px;
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 20px;
}
.card {
  box-shadow: 0 0 3px rgb(0, 0, 0);
  width: 95%;
  justify-content: end;
  align-items: center;
}
.card__image {
  width: 55%;
  display: block;
}
.cardinfo {
  padding: 15px;
  justify-content: start;
}
.cardcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  border-bottom: 2px solid white;
  font-size: x-large;
  color: #853dc9;
}
