body {
    background-color: rgba(0, 0, 0, 0.911);
    font-family: "Outfit", sans-serif;
    color: #b2b2c1;
}

h1{
    color: #853dc9;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Nav Bar */
nav {
    font-family: "Outfit", sans-serif;
    background-color: #17c3e99c;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    height: 100px; /* Adjust height as needed */
}

.dropdown-menu.custom-dropdown-space {
    margin-top: 10px; /* Adjust the value as needed */
}

.nav-link{
    color: #f345bf;
    text-shadow: 2px 2px black;
}
.dropdown-item{
    color: rgba(0, 0, 0, 0.911);
}
.navbar-toggler{
    border-color: #f345bf;
}
.nav-link-dropdown-toggle{
    color: #E3C922;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
.nav-item-dropdown{
    padding-top: 7px;
    position: relative;
    display: inline-block;
}
.row{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container-ul{
    text-align: center;
}
.myUL {
    display: inline-block;
    text-align: left;
  }
  h3{
    color: #f345bf;
    text-align: center;
  }
header{
    margin-left: 15px;
    margin-right: 15px;
}