body {
    background-color: rgba(0, 0, 0, 0.911);
    font-family: "Outfit", sans-serif;
    color: #b2b2c1;
}

header{
    margin-left: 15px;
    margin-right: 15px;
}

h1{
    color: #853dc9;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3{
    color: #f345bf;
    text-align: center;
}

/* Nav Bar */
nav {
    font-family: "Outfit", sans-serif;
    background-color: #17c3e99c;
    padding: 0.5rem 1rem; 
    height: 100px;
}

.navbar-toggler{
    border-color:#E3C922; /* when screen is minimized */
}

.navbar-logo {
    position: relative;
    top: -5px; /* Adjust this alignment with text */
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.nav-link {
    color: #E3C922;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7); /* Softer shadow with more blur */
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.nav-icon {
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20%;
}

/* Nav Hover Effects */
.navbar-logo:hover {
    transform: scale(1.2);
}

.nav-link:hover {
    color:#f345bf; /* Change color on hover */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9); /* Enhance shadow on hover */
}

.nav-icon:hover {
    transform: scale(1.2); /* Slightly enlarge the icon */
    color: #E3C922; /* Change icon color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow for a pop effect */
}

/* Nav bar dropdown */
.dropdown-menu.custom-dropdown-space {
    margin-top: 10px; /* Adjust the value as needed */
}

.dropdown-item{
    color: rgba(0, 0, 0, 0.911);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Hover to display dropdown */
}

.navbar-nav .dropdown-menu {
    top: 100%; /* Ensure the dropdown is aligned next to the Products text */
    left: 0; 
    margin-top: 0;
}

.navbar-nav .dropdown-toggle {
    display: inline-flex;
    align-items: center;
}

.navbar-nav .dropdown-toggle::after {
    margin-left: 8px; /* Add space between text and arrow */
}

.row{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container-ul{
    text-align: center;
}
.myUL {
    display: inline-block;
    text-align: left;
}
