body {
    background-color: rgba(0, 0, 0, 0.911);
    font-family: "Outfit", sans-serif;
    color: #b2b2c1;
}
nav {
    font-family: "Outfit", sans-serif;
}
h1{
    color: rgba(228, 231, 38, 0.815);
}
